[submodule ".registry"]
	path = .registry
	url = https://github.com/marcburri/marcburri.r-universe.dev
	branch = HEAD
[submodule "bridgr"]
	path = bridgr
	url = https://github.com/marcburri/bridgr
	branch = v0.1.1
[submodule "reviser"]
	path = reviser
	url = https://github.com/p-wegmueller/reviser
	branch = main
